---
import Layout from '../layouts/Layout.astro';

const examples = await Astro.glob('/src/pages/examples/*.astro')
---

<Layout title="Welcome to Astro.">
	
{examples.reverse().map((example) =>{
	return(
		<a href={example.url} class="w-full border border-red-500 p-2 my-2 rounded-xl text-2xl text-center duration-300 hover:border-sky-300">Go to:   {example.url}</a>
	)
})}

</Layout>

<style>
</style>
