---
const formData = await Astro.request.formData();
const search = formData.get('search')

const res = await fetch(`https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=${search}&page=1&api_key=LLWiwai8ZooMBWMdLnNN1nUlLBjtdNRUe9wjH7pA`);
const data = await res.json();
---
{data.photos.map((image: { img_src: string; id: string; earth_date: string }) => {
    return(
    <li>
            <article>
                <img
                 src={image.img_src}
                  alt={image.id}
                 class="aspect-[11/16] w-full h-auto object-cover rounded-lg"
                 >
                 <h2 class="text-white flex justify-between items-center">{image.earth_date}</h2>
                </article>
                </li>
    )
})}